@import '../../../assets/styles/variable/index.scss';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
  }
}

.headerWrapper {
  position: relative;
  width: 100%;
  height: 30vh;
  z-index: 100;

  &__imgBg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: url('../../../assets/images/News/header-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: $minHeight-150;
    width: 100%;
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 0,
      100% 60%,
      67% 86%,
      30% 96%,
      0 100%,
      0 0
    );
  }

  &__content {
    position: fixed;
    z-index: 1000;
    width: 100%;
  }
  &__bgNav {
    background-color: $bgHeader;
    position: fixed;
    z-index: 1000;
    width: 100%;
    transition: 1s ease-in-out;
    box-shadow: $boxShadowPrimaryHeader;
  }
  &__logoImg {
    width: auto;
    height: 45px;
  }

  &__toggle {
    color: transparent;
    background-color: $primary;
  }

  &__navItem {
    > a {
      color: $text;
      letter-spacing: $letterS-4;
      font-size: $fontSize-14;
      font-weight: bold;
      text-transform: uppercase;
    }
    & a:hover {
      color: $textsecondary;
      transition: 1.5s ease;
    }
    & a:focus {
      color: $textsecondary;
    }
  }

  &__absoluteSection {
    position: absolute;
    width: 100%;
    top: 40%;
    left: 0;

    @media screen and (max-width: 1023px) {
      transform: translate(0px, -100px);
      background-color: $bgAbsoluteHeader;
      padding: $padding-20;
    }
  }

  &__wrapperAbsSec {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    color: #ffffff;

    & h2 {
      display: inline-block;

      font-weight: 900 !important;
      letter-spacing: 2px;
      font-size: 60px;
      color: $text;
      text-shadow: 0px -7px #1a1717;
      margin-top: 0px;
      animation: fadeIn 5s;
      -moz-animation: fadeIn 5s;
    }
  }

  @media screen and (max-width: 768px) {
    height: 70vh;

    &__imgBg {
      min-height: $minHeight-300;
    }

    &__absoluteSection {
      transform: translate(0px, -95px);
    }
  }
  @media screen and (min-width: 769px) and (max-width: 1300px) {
    height: 80vh;
    &__imgBg {
      min-height: $minHeight-300;
    }
  }
}
